{% extends "base.html" %}
{% block title %}
    <title>หน้าแก้ไขข้อมูล</title>
{%endblock%}

{%block content%}
<h1>แบบฟอร์มแก้ไขข้อมูลประชากร</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">ชื่อ</label>
        <input type="text" name ="name" class="form-control" value="{{person.name}}">
    </div>

    <div class="form-group mb-3">
        <label>อายุ</label>
        <input type="number" name ="age" class="form-control" value="{{person.age}}">
    </div>
    <input type="submit" value="อัพเดต" class="btn btn-success">
</form>

{%endblock%}
